/* SECTION D'IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

/* RESET / REGLE GENERALE / CLASSE UNIVERSELLE */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

html{
    margin: 2.8rem;
}


.flex{
    display: flex;
}

a{
    text-decoration: none;
    list-style: none;
    color: black;
}

ul, li{
    text-decoration: none;
    list-style: none;
}

/* LOGO / BARRE DE NAVIGATION */

#div-logonavbar{
    justify-content: space-between;
}

#logo{
    width: 91%;
    height: 91%;
}

#navbar{
    margin-top: 0.3rem;
}

#navbar>a{
    font-size: 0.9rem;
    margin-left: 3.1rem;
    margin-right: 0.0563rem;
    color: black;
}

#navbar>a:nth-child(1){
    color: #0065FC;
    border-top: #458efc 0.125rem solid;
    padding: 2.1rem 0.6rem 0rem 0.6rem;
    width: 100%;
}

#navbar>a:nth-child(3){
    margin-left: 3.4rem;
    color: #0065FC;
    font-weight: bold;
}

header{
    margin-bottom: 2.1rem;
}

/* TITRE / BARRE RECHERCHE  */

h1{
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

#div-searchbar{
    margin: 1.25rem 0rem 1.25rem 0rem; 
    display: inline-block;
    border: #F2F2F2 0.0625rem solid;
    border-radius: 1.25rem;
    overflow: hidden;
}

#icon-position{
    padding: 0.12rem 1.25rem 0.12rem 1.25rem;
    font-size: 1.12rem;
    background: #F2F2F2;
    line-height: 2.8rem;
}

#searchbar{
    background: white;
    line-height: 2.8rem;;
    font-size: 1.12rem;
    font-weight: bold;
    padding: 0rem 2.5rem 0rem 0.62rem;
}

#searchbar::placeholder{
    color: black;
    font-size: 1.12rem;
    font-weight: bold;
}

#searchbar:focus::placeholder {
    color: transparent;
  }

#searchbar:focus{
    outline: none;
}

#searchbutton{
    background: #0065FC;
    color:white;
    font-weight: 500;
    font-size: 1.12rem;
    line-height: 2.81rem;
    padding: 0.12rem 1.25rem 0.12rem 1.25rem;
}

/* FILTRES */

#div-filtres{
    line-height: 1.87rem;
    margin-bottom: 1.87rem;
    margin-top: 0.5rem;
}

#div-filtres>p{
    font-size: 1.06rem;
    font-weight: bolder;
    margin: 0.62rem 1.5rem 0rem 0rem;
}

.buttons-filtres{
    margin-right: 1.62rem;
    background: white;
    border: lightgray 0.0625rem solid;
    border-radius: 2rem;
    line-height: 0.625rem;
    font-size: 1.0625rem;
    font-weight: bold;
    padding-right: 1.875rem;
}

.buttons-filtres:hover{
    border: #0065fc8c 0.0625rem solid;
    color: #0065FC;
    background-color: #F2F2F2;
}

.buttons-filtresspec1:hover{
    border: #0065fc8c 0.0625rem solid;
    color: #0065FC;
    background-color: #F2F2F2;
}

.buttons-filtresspec2:hover{
    border: #0065fc8c 0.0625rem solid; 
    color: #0065FC;
    background-color: #F2F2F2;
}

.buttons-filtres>i{
    font-size: 1rem;
    color:#0065FC;
    background: #DEEBFF;
    line-height: 2.8125rem;
    padding: 0.125rem 1.125rem 0.125rem 1.125rem;
    border-radius: 1.625rem;
    margin-right: 0.625rem;
    margin-left: -0.0625rem;
}

.buttons-filtresspec1{
    margin-right: 1.625rem;
    background: white;
    border: lightgray 0.0625rem solid;
    border-radius: 2rem;
    line-height: 0.625rem;
    font-size: 1.0625rem;
    font-weight: bold;
    padding-right: 1.875rem;
}

.buttons-filtresspec1>i{
    font-size: 1rem;
    color:#0065FC;
    background: #DEEBFF;
    line-height: 2.8125rem;
    padding: 0.125rem 1rem 0.125rem 1rem;
    border-radius: 1.625rem;
    margin-right: 0.625rem;
    margin-left: -0.0625rem;
}

.buttons-filtresspec2{
    margin-right: 1.625rem;
    background: white;
    border: lightgray 0.0625rem solid;
    border-radius: 2rem;
    line-height: 0.625rem;
    font-size: 1.0625rem;
    font-weight: bold;
    padding-right: 1.875rem;
}

.buttons-filtresspec2>i{
    font-size: 1rem;
    color:#0065FC;
    background: #DEEBFF;
    line-height: 2.8125rem;
    padding: 0.125rem 1.25rem 0.125rem 1.25rem;
    border-radius: 1.625rem;
    margin-right: 0.625rem;
    margin-left: -0.0625rem;
}

#i-info{
    font-size: 0.875rem;
    color: #0065FC;
    border: 0.0625rem rgb(194, 192, 192) solid;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 1.25rem;
    margin-top: 0.125rem;
}

#p-info{
    margin: 0.3125rem 0rem 0rem 0.625rem ;
    font-size: 1rem;
}

/* SECTION LOGEMENTS 3x2 */

.logement-left{
    margin-top: 2.375rem;
    background: #F2F2F2;
    border-radius: 1.875rem;
    height: 39.0625rem;
    width: 55rem;
}

.logement-left>h2{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 2.625rem 0rem 0rem 2.1875rem;
}

.logement-left>div>div>a:visited{
    color: black;
}

.logement-left>a:visited{
    color: black;
}
.logement-left>a{
    font-size: 0.9375rem;
    font-weight: bold;
    margin-left: 2.5rem;
}

#div-6{
    margin: 1.5625rem 1.875rem 2.3125rem 2.1875rem;
    flex-wrap: wrap;
}

.div-miniature-logement{
    border: white 0.3125rem solid;
    border-radius: 1.5625rem;
    font-size: 0.9375rem;
    overflow: hidden;
    box-shadow: 0.1875rem 0.1875rem 0.625rem 0rem #e4e4e4;
    width: 29%;
}

.topmargdiv{
    margin-bottom: 1.875rem;
}

.rmargdiv{
    margin-right: 1.875rem;
}

.div-miniature-logement img{
    width: 15rem;
    height: 7.8125rem;
    object-fit: cover;
}

.texte-miniature>h4{
    font-size: 0.875rem;
    margin: 0.3125rem 0rem 0.25rem 0.625rem;
    width: 100%;
}

.texte-miniature>p{
    font-size: 0.75rem;
    margin-left: 0.625rem;
    width: 100%;
}

.texte-miniature{
    margin-top: -0.25rem;
    background-color: white;
    overflow: hidden;
}

.star1{
    color: #0065FC;
    font-size: 0.75rem;
    margin: 0.4375rem -0.1875rem 0.3125rem 0.625rem;
}

.star2{
    color: #0065FC;
    font-size: 0.75rem;
    margin-right: -0.1875rem;
}

.star3{
    color: #d1d1d19d;
    font-size: 0.75rem;
}

/* SECTION LOGEMENT 1X3 */

.div-logement-right{
    width: 80%;
    border: white 0.3125rem solid;
    box-shadow: 0.1875rem 0.1875rem 0.625rem 0rem #e4e4e4;
    border-radius: 1.5625rem;
    display:inline-flex;
    overflow: hidden ;
    margin: 0rem 0rem 2.1875rem 2.1875rem;
}

.logement-right{
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    background: #F2F2F2;
    border-radius: 1.875rem;
    height: 38.875rem;
    width: 26.25rem;
}

.logement-right>h2{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 2.625rem 1.875rem 1.5625rem 2.1875rem;
}

.chart{
    margin-left: 8.75rem;
}

.div-img-right{
    width: 8.25rem;
    height: 8.25rem;
}

.img-right{
    width: 8.25rem;
    height: 8.25rem;
    object-fit: cover;
    object-position: center;
}

.logement-right>a:visited{
    color: black;
}

.texte-miniature-right{
    width: 100%;
    background-color: white;
}

.texte-miniature-right>h4{
    width: 70%;
    font-size: 0.9375rem;
    margin: 0.75rem 0rem 0.3125rem 0.9375rem;
}

.texte-miniature-right>p{
    font-size: 0.8125rem;
    margin-left: 0.9375rem;
    margin-bottom: 2.0625rem;
}

.i-move{
    margin-left: 0.9375rem;
}

/* ACTIVITES */

#title-activites{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 3.125rem 0rem  1.5625rem 0rem;
}

.div-activites{
    font-size: 0.9375rem;
}

#left-mini-act{
    margin-right: 3.125rem;
}

.big-act{
    margin-right: 3.125rem;
}

.shadow{
    box-shadow: 0.1875rem 0.1875rem 0.625rem 0rem #e4e4e4;
    border-radius: 1.5625rem;
    overflow: hidden;
}

.big-images{
    width: 18.125rem;
    height: 23.125rem;
    object-fit: cover;
    object-position: center;
}

#num1{
    width: 18.75rem;
    height: 10.9375rem;
    object-fit: cover;
    object-position: center;
}

#num2{
    width: 18.75rem;
    height: 6.5625rem;
    object-fit: cover;
    object-position: center;
}

#num3{
    width: 18.75rem;
    height: 8.4375rem;
    object-fit: cover;
    object-position: center;
}

#num4{
    width: 18.75rem;
    height: 9.375rem;
    object-fit: cover;
    object-position: center;
}

#num1-pos{
    margin-bottom: 2.8125rem;
}

#num3-pos{
    margin-bottom: 2.5rem;
}

.texte-activites h4{
    font-size: 0.9375rem;
    margin: 0.75rem 0rem 0.75rem 0.9375rem;
}




/* FOOTER */

footer{
    width: 100%;
    position: absolute;
    background-color: #F2F2F2;
    margin-left: -2.5rem;
    padding-right: 5.3125rem;
    margin-top: 3.125rem;
}

.link-bot:visited{
    color: black;
}


.bottom-div{
    margin: 2.625rem 0rem 0rem 2.1875rem;
}

.section-bot{
    width: 33%;
    margin-bottom: 1.25rem;
}

.section-bot h3{
    font-size: 0.9375rem;
    margin-bottom: 1.25rem;
}

.section-bot ul li{
    font-size: 0.8125rem;
    margin-bottom: 0.625rem;
}