/* SECTION D'IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

/* RESET / REGLE GENERALE / CLASSE UNIVERSELLE */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0rem 2.8rem 0rem 2.8rem;
}


.flex{
    display: flex;
}

a{
    text-decoration: none;
    list-style: none;
    color: black;
}

ul, li{
    text-decoration: none;
    list-style: none;
}

/* LOGO / BARRE DE NAVIGATION */

#div-logo{
    width: 80%;
}

#navbar{
    margin-top: 0.3rem;
    flex-direction: row;
    margin-bottom: 0.625rem;
}

#navbar>a{
    font-size: 1.1rem;
    margin-left: 3.1rem;
    margin-right: 0.0563rem;
    color: black;
    padding-top: 1%;
    border-top: 0.125rem solid white;
}

#navbar>a:hover{
    color: #0065FC;
    border-top: #458efc 0.125rem solid;
    width: 100%;
}

#sub{
    font-size: 1.1rem;
    margin-left: 3.4rem;
    color: #0065FC;
    font-weight: bold;
}

header{
    margin: 2.8rem 0rem 2.1rem 0rem;
    align-items: center;
}

.nav-mobile{
    width: 100%;
    display: none;
}

.linkmob{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 0.188rem solid #F2F2F2;
}

.linkmob:hover{
    color: #0065FC;
    border-bottom: 0.188rem solid #0065FC;
}

/* TITRE / BARRE RECHERCHE  */

h1{
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

#div-searchbar{
    margin: 1.25rem 0rem 1.25rem 0rem; 
    display: inline-block;
    border: #F2F2F2 0.0625rem solid;
    border-radius: 1.25rem;
    overflow: hidden;
}

#icon-position{
    padding: 0.2rem 1.25rem 0.3rem 1.25rem;
    font-size: 1.12rem;
    background: #F2F2F2;
    line-height: 2.8rem;
}

.fa-search{
    display: none;
}

#searchbar{
    background: white;
    line-height: 2.8rem;;
    font-size: 1.12rem;
    font-weight: bold;
    padding: 0rem 2.5rem 0rem 0.62rem;
}

#searchbar::placeholder{
    color: black;
    font-size: 1.12rem;
    font-weight: bold;
}

#searchbar:focus::placeholder {
    color: transparent;
}

input{
    margin-left: 0.4rem;
}

#searchbar:focus{
    outline: none;
}

#searchbutton{
    background: #0065FC;
    color:white;
    font-weight: 500;
    font-size: 1.12rem;
    line-height: 2.8rem;
    padding: 0.265rem 1.25rem 0.2rem 1.25rem;
}

#searchbutton-mag{
    background: #0065FC;
    color:white;
    font-weight: 500;
    font-size: 1.12rem;
    line-height: 2.8rem;
    padding: 0.265rem 1.25rem 0.2rem 1.25rem;
    display: none;
}

/* FILTRES */

.buttondiv{
    line-height: 1.87rem;
    margin-bottom: 1.87rem;
    margin-top: 0.5rem;
}

.div-filtres{
    margin-top: 1rem;
}

.div-filtres>p{
    font-size: 1.06rem;
    font-weight: bolder;
    margin: 1.4rem 1.5rem 0rem 0rem;
}

.buttons-filtres{
    margin-right: 1.7rem;
    background: white;
    border: lightgray 0.0625rem solid;
    border-radius: 2rem;
    line-height: 0.625rem;
    font-size: 1.0625rem;
    font-weight: bold;
    padding-right: 1.875rem;
}

.buttons-filtres:hover{
    border: #0065fc8c 0.0625rem solid;
    color: #0065FC;
    background-color: #F2F2F2;
}

.buttons-filtresspec1:hover{
    border: #0065fc8c 0.0625rem solid;
    color: #0065FC;
    background-color: #F2F2F2;
}

.buttons-filtresspec2:hover{
    border: #0065fc8c 0.0625rem solid; 
    color: #0065FC;
    background-color: #F2F2F2;
}

.buttons-filtres>i{
    font-size: 1rem;
    color:#0065FC;
    background: #DEEBFF;
    line-height: 2.8125rem;
    padding: 0.125rem 1.125rem 0.125rem 1.125rem;
    border-radius: 1.625rem;
    margin-right: 0.625rem;
    margin-left: -0.0625rem;
}

.specrom{
    margin-bottom: 0.4rem;
}

.buttons-filtresspec1{
    margin-right: 1.7rem;
    background: white;
    border: lightgray 0.0625rem solid;
    border-radius: 2rem;
    line-height: 0.625rem;
    font-size: 1.0625rem;
    font-weight: bold;
    padding-right: 1.875rem;
    margin-bottom: 0.4rem;
}

.buttons-filtresspec1>i{
    font-size: 1rem;
    color:#0065FC;
    background: #DEEBFF;
    line-height: 2.8125rem;
    padding: 0.125rem 1rem 0.125rem 1rem;
    border-radius: 1.625rem;
    margin-right: 0.625rem;
    margin-left: -0.0625rem;
}

.buttons-filtresspec2{
    margin-right: 1.7rem;
    background: white;
    border: lightgray 0.0625rem solid;
    border-radius: 2rem;
    line-height: 0.625rem;
    font-size: 1.0625rem;
    font-weight: bold;
    padding-right: 1.875rem;
    margin-bottom: 0.4rem;
}

.buttons-filtresspec2>i{
    font-size: 1rem;
    color:#0065FC;
    background: #DEEBFF;
    line-height: 2.8125rem;
    padding: 0.125rem 1.25rem 0.125rem 1.25rem;
    border-radius: 1.625rem;
    margin-right: 0.625rem;
    margin-left: -0.0625rem;
}

#i-info{
    font-size: 0.875rem;
    color: #0065FC;
    border: 0.0625rem rgb(194, 192, 192) solid;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 1.25rem;
    margin-top: 0.125rem;
}

#p-info{
    margin: 0.3125rem 0rem 0rem 0.625rem ;
    font-size: 1rem;
}

/* SECTION LOGEMENTS 3x2 */

.logement-left{
    margin-top: 2.375rem;
    background: #F2F2F2;
    border-radius: 1.875rem;
    height: 39.0625rem;
    width: 70%;
}

.logement-left>h2{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 2.625rem 0rem 0rem 2.1875rem;
}

.logement-left>div>div>a:visited{
    color: black;
}

.logement-left>a:visited{
    color: black;
}
.logement-left>a{
    font-size: 0.9375rem;
    font-weight: bold;
    margin-left: 2.5rem;
}

.div-6{
    margin: 1.5625rem 1.875rem 2.3125rem 2.1875rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.div-miniature-logement{
    border: white 0.3125rem solid;
    border-radius: 1.5625rem;
    font-size: 0.9375rem;
    overflow: hidden;
    box-shadow: 0.1875rem 0.1875rem 0.625rem 0rem #e4e4e4;
    width: 28%;
}

.topmargdiv{
    margin-bottom: 1.875rem;
}

.rmargdiv{
    margin-right: 1.875rem;
}

.div-miniature-logement img{
    width: 100%;
    height: 7.8125rem;
    object-fit: cover;
}

.texte-miniature>h4{
    font-size: 0.875rem;
    margin: 0.3125rem 0rem 0.25rem 0.625rem;
    width: 100%;
}

.texte-miniature>p{
    font-size: 0.75rem;
    margin-left: 0.625rem;
    width: 100%;
}

.texte-miniature{
    margin-top: -0.25rem;
    background-color: white;
    overflow: hidden;
}

.star1{
    color: #0065FC;
    font-size: 0.75rem;
    margin: 0.4375rem -0.1875rem 0.3125rem 0.625rem;
}

.star2{
    color: #0065FC;
    font-size: 0.75rem;
    margin-right: -0.1875rem;
}

.star3{
    color: #d1d1d19d;
    font-size: 0.75rem;
}

/* SECTION LOGEMENT 1X3 */

.div-logement-right{
    width: 80%;
    border: white 0.3125rem solid;
    box-shadow: 0.1875rem 0.1875rem 0.625rem 0rem #e4e4e4;
    border-radius: 1.5625rem;
    display:inline-flex;
    overflow: hidden ;
    margin: 0rem 0rem 2.1875rem 2.1875rem;
}

.logement-right{
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    background: #F2F2F2;
    border-radius: 1.875rem;
    height: 38.875rem;
    width: 30%;
}

.logement-right>h2{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 2.625rem 1.875rem 1.5625rem 2.1875rem;
}

.chart{
    float: right;
}

.div-img-right{
    width: 40%;
    height: 8.25rem;
}

.img-right{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logement-right>a:visited{
    color: black;
}

.texte-miniature-right{
    width: 60%;
    background-color: white;
}

.texte-miniature-right>h4{
    width: 70%;
    font-size: 0.9375rem;
    margin: 0.75rem 0rem 0.3125rem 0.9375rem;
}

.texte-miniature-right>p{
    font-size: 0.8125rem;
    margin-left: 0.9375rem;
    margin-bottom: 2.0625rem;
}

.i-move{
    margin-left: 0.9375rem;
}

/* ACTIVITES */

.maj-div{
    width: 100%;
    /* margin-right: 1rem; */
}

#activites{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 3.125rem 0rem  1.5625rem 0rem;
}

.div-activites{
    justify-content: space-between;
}

.maj-div-pos{
    margin-right: 2rem;
}

.left-mini-act{
    width: 50%;
}

.big-act{
    width: 50%;
    margin-right: 2rem;
}

.shadow{
    box-shadow: 0.1875rem 0.1875rem 0.625rem 0rem #e4e4e4;
    border-radius: 1.5625rem;
    overflow: hidden;
}

.big-images{
    width: 100%;
    height: 23.125rem;
    object-fit: cover;
    object-position: center;
}

#num1{
    width: 100%;
    height: 10.9375rem;
    object-fit: cover;
    object-position: center;
}

#num2{
    width: 100%;
    height: 6.5625rem;
    object-fit: cover;
    object-position: center;
}

#num3{
    width: 100%;
    height: 8.4375rem;
    object-fit: cover;
    object-position: center;
}

#num4{
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
    object-position: center;
}

#num1-pos{
    margin-bottom: 2.8125rem;
}

#num3-pos{
    margin-bottom: 2.5rem;
}

.texte-activites h4{
    font-size: 0.9375rem;
    margin: 0.75rem 0rem 0.75rem 0.9375rem;
}


/* FOOTER */

footer{
    width: 100%;
    position: absolute;
    background-color: #F2F2F2;
    margin-left: -2.5rem;
    margin-top: 3.125rem;
}

.link-bot{
    display: contents;
}

.link-bot:visited{
    color: black;
}


.bottom-div{
    margin: 2.625rem 0rem 0rem 2.1875rem;
}

.section-bot{
    width: 33%;
    margin-bottom: 1.25rem;
}

.section-bot h3{
    font-size: 0.9375rem;
    margin-bottom: 1.25rem;
}

.section-bot ul li{
    font-size: 0.8125rem;
    margin-bottom: 0.625rem;
}

/* TAB */

@media screen and (max-width: 1200px){

    /* RESIZE FILTRES */

    .buttondiv{
        justify-content: space-evenly;
    }

    .div-filtres>p{
        margin-right: 0.62rem;
    }

    .buttons-filtresspec1, .buttons-filtresspec2, .buttons-filtres{
        margin-right: 0.5rem;
    }

    /* 2x3 */

    .logement-left{
        width: 65%;
        height: 100%;
        padding-bottom: 2rem;
        margin-right: 1rem;
    }

    .div-miniature-logement{
        width: 40%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    
    /* 1x3 */

    .logement-right{
        width: 35%;
        height: 52rem;
        margin-left: 0rem;
    }

    .texte-miniature-right>p{
        margin-left: 0.9375rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 935px){

    /* 1x3 */

    .div-logement-right{
        margin-left: 1.5rem;
    }

    .texte-miniature-right>p{
        margin-left: 0.9375rem;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
}

@media screen and (max-width: 883px){
    /* LOGEMENT */

    #hebergements{
        flex-wrap: wrap;
    }

    .logement-left{
        width: 100%;
        margin-right: 0rem;
    }

    .logement-right{
        width: 100%;
        height: 100%;
    }

    #title-right{
        width: 87%;
    }

    .div-logement-right{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .special-wrap{
        width: 80%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.2rem;
    }
}

@media screen and (max-width: 534px){
    
    /* SEARCHBAR */

    #div-searchbar{
        margin: 1.25rem 0rem 1.25rem 0rem; 
        display: inline-block;
        border: #F2F2F2 0.0625rem solid;
        border-radius: 1.25rem;
        overflow: hidden;
    }
    
    #icon-position{
        padding: 0.2rem 1rem 0.3rem 1rem;
        font-size: 1.12rem;
        background: #F2F2F2;
        line-height: 2.8rem;
    }
    
    #searchbar{
        background: white;
        line-height: 2.8rem;;
        font-size: 1.12rem;
        font-weight: bold;
        padding: 0rem;
    }
    
    #searchbar:focus{
        outline: none;
    }
    
    .fa-search{
        background: #0065FC;
        display: inline-block;
        border: 0.063rem transparent;
        border-radius: 1rem;
        padding: 1.07rem 1rem 1.12rem 1rem;
    }

    #searchbutton{
        display: none;
    }

    #searchbutton-mag{
        display: inline-block;
        color:white;
        font-weight: 500;
        font-size: 1.12rem;
        line-height: 2.8rem;
        padding: 0rem;
    }

    /* ACTIVITES */
    
    .div-activites{
        flex-wrap: wrap;
        width: 100%;
        margin: 0rem;
        padding: 0rem;
        justify-content: space-between;
    }

    .maj-div{
        flex-wrap: wrap;
        width: 100%;
        margin: 0rem;
        padding: 0rem;
    }

    .left-mini-act{
        flex-wrap: wrap;
        width: 100%;
        margin: 0rem;
        padding: 0rem;
    }

    .big-act{
        width: 100%;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }
    
    .maj-div-pos{
        margin-right: 0rem;
        margin-bottom: 2rem;
    }
    
    .big-images{
        height: 10.9375rem;
    }
    
    #num1{
        height: 10.9375rem;
    }
    
    #num2{
        height: 10.9375rem;
    }
    
    #num3{
        height: 10.9375rem;
    }
    
    #num4{
        height: 10.9375rem;
    }
    
    #num1-pos{
        margin-bottom: 2rem
    }
    
    #num3-pos{
        margin-bottom: 2rem;
    }


}

@media screen and (max-width: 503px){
    .nav-mobile{
        display: inline-flex;
        margin-bottom: 1.6rem;
    }

    #navbar{
        display: none;
    }

    body{
        margin: 0rem auto 0rem auto;
    }

    header{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    #sub{
        margin-right: 1rem;
    }

    #div-logo{
        margin-left: 1rem;
    }

    h1{
        width: 80%;
        margin-left: 1.5rem;
    }

    #title-text{
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    #posdiv-searchbar{
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .div-filtres{
        flex-wrap: wrap;
        margin-top: 0rem;
    }

    .div-filtres>p{
        margin-top: 0rem;
        margin-bottom: 0.3rem;
        margin-left: 1.3rem;
    }

    .buttondiv{
        margin-left: 1rem;
    }

    .div-info{
        margin-left: 1.1rem;
    }

    #i-info{
        font-size: 0.688rem;
    }

    /* LOGEMENTS */

    #hebergements{
        flex-direction: column-reverse;
        display: flex;
    }

    .logement-left{
        border-radius: 0rem;
        background: white;
        margin-top: 0rem;
    }

    .div-miniature-logement{
        width: 100%;
        margin-bottom: 1rem;
    }

    .logement-right{
        margin-top: 2rem;
        border-radius: 0rem;
    }

    .div-logement-right{
        width: 100%;
    }

    .special-wrap{
        margin-left: auto;
        margin-right: auto;
    }

    .div-6{
        margin-bottom: 1rem;
    }

    .logement-left>a{
        font-size: 1.15rem;
        margin-left: 1.2rem;
    }

    #activites{
        margin-top: 1rem;
        margin-left: 1.2rem;
    }

    .maj-div, .maj-div-pos{
        margin-left: 2rem;
        margin-right: 2em;
    }

    .big-images{
        height: 8rem;
    }
    
    #num1{
        height: 8rem;
    }
    
    #num2{
        height: 8rem;
    }
    
    #num3{
        height: 8rem;
    }
    
    #num4{
        height: 8rem;
    }

    .bottom-div{
        display: inline-block;
    }

    .section-bot{
        width: 100%;
    }

    .section-bot>h3{
        margin-bottom: 1rem;
    }

    .section-bot>ul{
        margin-bottom: 2.4rem;
    }

    footer{
        margin-left: 0rem;
    }
}